apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: auth-namespace
  labels:
    app: auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth-container
        image: kuunyangna/auth-service:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 80
