apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: {{ .Release.Name }}-green   # initial deployment color
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
