replicaCount: 1

image:
  repository: kuunyangna/auth-controller
  tag: latest

service:
  name: auth-service-svc
  type: LoadBalancer
  port: 80

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
